<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админпанель</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div id="container">
    <div class="top_line">
        <div class="page_name text-left">Админпанель</div>
        <div class="exit text-right"><a href="exit.php">Выход</a></div>
    </div>
    <div class="left">
        <dl>
            <dt>Меню</dt>
            <dd><a href="menu_add.php">добавить</a></dd>
            <dd><a href="menu_del.php">удалить</a></dd>
        </dl>
        <dl>
            <dt>Слайдер</dt>
            <dd><a href="">добавить</a></dd>
            <dd><a href="">удалить</a></dd>
        </dl>
        <dl>
            <dt>Новости</dt>
            <dd><a href="news_add.php">добавить</a></dd>
            <dd><a href="news_del.php">удалить</a></dd>
        </dl>
    </div>
    
    <div ="right">
        <table >
            <form method="post" action="" enctype="multipart/form-data">
                {INFO}
            </form>
        </table>
    </div>
</div>



<script src="../js/jquery.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>