html, body{
    padding: 0;
    margin: 0;
    font-family: "robotocondensedregular", sans-serif;
    font-size: 18px;    
}
#edit_form{
    width: 100%;
}
textarea[name^='edit_text']{
    display: none;
}
a:hover{
    opacity: 0.8;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
a{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
dl:first-child{
    margin-top: 0;
    padding-top: 0;
}
#edit_form input[type="text"],
#edit_form input[type="email"]{
    height: 25px;
    width: 300px;
    padding: 0 7px;
}
label.keywords span,
.add_photo_info span{
    font-size: 14px;
    font-family: "robotocondensedbold", sans-serif;
    opacity: 0.7;
}
.add_photo_info span{
    opacity: 1;
}
.add_photo_info span span{
    color: #ff0000;
}
.input_file_photo span{
    font-size: 14px;
    color: #ff0000;
    font-family: "robotocondensedbold", sans-serif;
}
textarea{
    width: 300px;
    padding: 0 7px;
}
td{
    vertical-align: top;
}
button{
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: "robotocondensedbold", sans-serif;
    font-size: 16px;
    font-weight: 100; 
    background-color: #CA1E1E;
    color: #fff;
    border: 0;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 2px;
}
button:active{
    border: 0;
}
button:hover{
    background-color: #B90000;
}
.left{
    float: left;
    background-color: #cecece;
    padding: 0  0 30px 0;
    margin-right: 20px;
    width: 300px;
}
.left dt{
    background-color: #28988B;
    line-height: 25px;
    padding: 0 15px;
    margin-bottom: 7px;
    color: #fff;
    font-size: 20px;
}
.left dd a{
    color: #000;
}
.right{
    margin-left: 320px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
#container{
    padding: 20px 50px;
    overflow: auto;
    background-color: #E9E9E9;
}
.top_line{
    background-color: #019A88;
    overflow: hidden;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
}
.top_line a{
    color: #fff;
}
.top_line .info{
    font-family: "robotocondensedbold", sans-serif;
    font-size: 18px;
}
.top_line .ok{
    color: #A02525;
}
.page_name{
    text-transform: uppercase;
    font-size: 22px;
    display: inline-block;
    position: relative;
}
.page_name:after{

    content: "";
    position: absolute;
    border-radius: 10em;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -22px;
    left: 110%;
    background-image: url("../img/admin.jpg");
    background-repeat: no-repeat;
    -ms-background-position: center;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.page_name a{
    text-decoration: none;
}
.page_name span{
    color: #000;
    font-size: 30px;
    font-family: "robotocondensedbold", sans-serif;
}
.page_name{
    float: left;
}
.edit_title{
    font-size: 30px;
    vertical-align: top;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.edit_title span{
    font-size: 20px;
}
#video_del_form,
#photo_del_form{
    background-color: #cecece;
}
#photo_del_form td{
    vertical-align: middle;
}
#photo_del_form td.chbx{
    padding: 0 20px;
}
#photo_del_form .img_for_del{
    width: 190px;
}
#photo_del_form tr:nth-child(odd){
    background-color: #C4C4C4;
}
.video_name{
    padding-left: 20px;
    min-height: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #C2C2C2;
    padding: 13px 20px 5px 20px;
    position: relative; 
    color: #156D63;
}
#video_preview{
    padding-top: 5%;
}
#video_preview iframe{
    margin: auto;
    display: block; 
}
.preview_tpl{
    background-color: #cecece;
}
.preview_tpl button[name="enter_del_video"]{
    display: block;
    margin: auto;
    margin-top: 50px;   
}
.v_title{
    position: absolute;
    display: inline-block; 
    top: 0;
    left: 0;
    padding: 0px 5px;
    font-size: 14px;
    background-color: #6F6F6F;
    color: #fff;
    margin-bottom: 10px;     
}
.video_delimiter{
    background-color: #6F6F6F;
    height: 3px;
    margin-top: 50px;
}
.video_link_preview{
    border-bottom: 1px solid #cecece;
}
.video_link_preview td{
    padding: 10px 20px;
}
.v_link{
    text-align: right;
}
.v_link a{
    color: #28988B;
}
label[for^="video_id"] span{
    color: #ff0000;
}
#r_count{
    color: #ff0000;
}
#new_reviews_form tr.item,
#all_reviews_form tr.item{
    background-color: #cecece;
}

#new_reviews_form tr.item .r_name,
#all_reviews_form tr.item .r_name{
    background-color: #B3B3B3;
    height: 40px;
    line-height: 40px;
}
#new_reviews_form .r_text,
#all_reviews_form .r_text{
    padding: 20px;
}
#new_reviews_form .r_name,
#new_reviews_form .r_info td,
#all_reviews_form .r_name,
#all_reviews_form .r_info td{
    padding: 0 20px;

}
#new_reviews_form .td_button,
#all_reviews_form .td_button{
    padding: 20px;
}
#new_reviews_form .r_info,
#all_reviews_form .r_info{
    height: 40px;
    line-height: 40px;
}
#new_reviews_form a.r_del,
#all_reviews_form a.r_del{
    color: #000;
    display: inline-block;
    margin-top: 20px;
}
#new_reviews_form .r_image,
#all_reviews_form .r_image{
    padding: 20px;
}
.item > td{
    border-left: 3px solid #28988B; 
}/*
.r_delim{
    border-top: 2px solid #28988B;  
}*/
#new_reviews_form .r_info td,
#all_reviews_form .r_info td{
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}
#new_reviews_form .inner_table td,
#all_reviews_form .inner_table td{
    border: 0;
}
.delimiter{
    background-color: #6F6F6F;
}
.delimiter td{
    padding-left: 25px;
    font-family: "robotocondensedbold", sans-serif;
    color: #fff;   
}
